.container{
  margin: 0 auto;
  max-width: 500px;
  background-color: rgb(231, 180, 255);
}

ul, li, a{
  display: flex;
  text-decoration: none;
  color: white;
  padding: 10px;
}

a:hover{
  background-color: blue;
  }